body {
    font-family: Arial, sans-serif;
    height: 100vh;
    margin: 0;
    background-color: #e0e0e0;
}

h1 {
    font-weight: 500;
    font-size: 32px;
    margin-bottom: 20px;
}

h2 {
    font-weight: 300;
    font-size: 18px;
    margin-bottom: 20px;
}

#play-beep {
    text-align: center;
    width: 100%;
    height: 45vh;
    font-size: 18px;
    padding: 10px 20px;
    color: #fff;
    background-color: #007bff;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
}

.cards-container {
    height: 47vh;
    max-width: 1000px;
    display: flex;
    padding: 1rem;
    margin: 0 auto;
}

.card {
    flex: 1;
    background-color: white;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    margin: 10px;
    padding: 15px;
    overflow: auto;
}

.card h2 {
    margin-top: 0;
    font-size: 1.5em;
}

.card ul {
    list-style-type: none;
    padding: 0;
}

.card ul li {
    padding: 0.5rem 10px;
}

.input-number {
    width: 3rem;
}

header {
    position: relative;
    padding: 10px;
    background-color: white;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

nav ul {
    margin: 0;
    list-style-type: none;
    padding: 0;
    display: inline-flex;
}

nav a {
    margin-left: 2rem;
    color: #636363;
    font-weight: 600;
    text-decoration: none;
}

nav a:hover {
    color: #353535;
}

#gamepad-select {
    width: 12rem;
}